export(
    "density.tm",
    "full.transitions",
    "mean.tm",
    "mu.mle",
    "pophistory",
    "pophistory.tm",
    "print.tm",
    "quantile.tm",
    "sample.pop",
    "stationary.dist",
    "summary.tm",
    "tm",
    "ttc",
    "ttc.tm",
    "ttm",
    "ttm.tm"
)

useDynLib("TimeMachine")

importFrom(stats, density, optimize, quantile, runif)

S3method(pophistory, tm)
S3method(ttc, tm)
S3method(ttm, tm)
S3method(density, tm)
S3method(mean, tm)
S3method(print, tm)
S3method(quantile, tm)
S3method(summary, tm)
    
